/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
html {
  height: 100%;
}
body {
  background-image: url("");)
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 18px;
  padding-bottom: 40px;
  color: #000;
}
.contactno {
  margin-top: 10px;
  color:#cccc99;
}


.container {
  max-width: 1000px;
  margin: 0 auto;
}
 th {
  height:50px;
  background-color:#FF6600;
  color:#fff;
  text-align: center;
 
}
 table, td 
{
  width:100%;
  height:40px;
  padding: 10px;
  margin-top: 40px;
  border:1px solid #FFF;
  background-color:#000;
  color:#fff;
  padding: 10px;
  margin-left: 15px;
 }


.footer {
  background-image: url("/images/footer.jpg");)
  height: 100px;
  
}

.localaddress {  
   
  background-color:#ffffff;
  border:1px solid black;
  opacity:0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
}

.floorplan {
  margin-top: 120px;
}

.floorplan img:hover {
  margin-top: 120px;
   -webkit-transform: scale(2.50);
  -moz-transform: scale(2.50);
  position: relative;
  z-index: 5;
     

}
.relaxfamily {
  margin-top:35px;
  height: 150px;
}

.homeloan{
  margin-top: 200px;
}
.ans {
color:#ff6600;
font-weight: bold;
}

ul.point {
  list-style-type:square;
  
}
.current img {
  background: #000;
  padding:10px; 
  border: 10px solid #8b2A00;

}

.contactadd {
  margin-top: 100px;
}

.loan {
  margin-top:250px;
  font-weight: bold;
  color:#fff;
  background: #000;
  padding: 10px;
  border-left: 10px solid #8b2A00;
  border-bottom: 10px solid #8b2A00;
  font-size: 2em;
  text-align: center;
}

 .loandocuments {
  margin-top: 120px;
}

.loandocuments {
  margin-top:50px;
  width: 300px;
  background: -webkit-linear-gradient(left, #660000, #660033); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #660000, #660033); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #660000, #660033); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #660000 , #660033); /* Standard syntax (must be last) */
  padding-left: 10px;
  font-size: 18px;
  color:#ffffff;
  font-weight: bold;


}
a {
  color:#fff;
}

 td:hover {
  background-color:#FF6600;
  color: #fff;


}

.profile {
  height: 200px;
}

header {
background: -webkit-linear-gradient(#000066, blue); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#000066, blue); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#000066, blue); /* For Firefox 3.6 to 15 */
background: linear-gradient(#000066, blue); /* Standard syntax (must be last) */

position:relative;
}

.welcome {  
  width: 550px;
  margin-top: 50px;
  padding-left: 10px;
  font-size: 18px;
  color:#ffffff;
  font-weight: bold;
  background: -webkit-linear-gradient(left, #660000, #660033); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #660000, #660033); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #660000, #660033); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #660000 , #660033); /* Standard syntax (must be last) */
}

.ourprojects {
  margin-top:50px;
  width: 200px;
  background: -webkit-linear-gradient(left, #660000, #660033); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #660000, #660033); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #660000, #660033); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #660000 , #660033); /* Standard syntax (must be last) */
  padding-left: 10px;
  font-size: 18px;
  color:#ffffff;
  font-weight: bold;
}

.pastproject {
  width: 500px;
  background: #000066;
  padding-left: 10px;
  font-size: 18px;
  color:#ffffff;
  font-weight: bold;
}

.salary {
  width: 300px;
  background: #000066;
  padding-left: 10px;
  font-size: 18px;
  color:#ffffff;
  font-weight: bold;
}

.pastproject1 {
  width: 740px;
  background: #000066;
  padding-left: 10px;
  font-size: 18px;
  color:#ffffff;
  font-weight: bold;
}

.marq {
  margin-top: 43px;
  background-color: #800000;
  color: #fff;  
  font-weight: bold;
  font-size: 2em;
  padding: 5px;
  border-radius: 5px;

}

.comingsoon{
  width: 250px;
  background: #000066;
  padding-left: 10px;
  font-size: 18px;
  color:#ffffff;
  font-weight: bold;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
#company-name {
  font-family: 'Aldrich', sans-serif;
  margin-top:25px;
  color:#ff6600;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

address, .footerno  {
  margin-top: 40px;
  font-weight: bold;
  color:#180000;
}


/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 110px;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}

.call {
  color:#00008B;
  font-size: 1em;
  font-weight: bold;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
.box {
width: 200px;
background: -webkit-linear-gradient(orange, yellow); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(orange, yellow); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(orange, yellow); /* For Firefox 3.6 to 15 */
background: linear-gradient(orange, yellow); /* Standard syntax (must be last) */
position:relative;
padding: 10px;
top:50px;
right:50px;
left:75%;
border-radius: 5px;
color:red;
z-index: 20;
text-align: center;
font-size: 1.5em;
}

.floor {
  margin-top: 100px;
  width: 100px;
background: -webkit-linear-gradient(orange, yellow); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(orange, yellow); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(orange, yellow); /* For Firefox 3.6 to 15 */
background: linear-gradient(orange, yellow); /* Standard syntax (must be last) */
padding: 0px;
border-radius: 5px;
text-align: center;
color:#000;
text-decoration: none;
}
 
.floor a {
  color:#000;

}
.amenities{
  width: 100px;
background: -webkit-linear-gradient(orange, yellow); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(orange, yellow); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(orange, yellow); /* For Firefox 3.6 to 15 */
background: linear-gradient(orange, yellow); /* Standard syntax (must be last) */
padding: 0px;
border-radius: 5px;
text-align: center;

}

.documents {
    width: 300px;
    background: -webkit-linear-gradient(red, yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(red, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(red, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(red, yellow); /* Standard syntax (must be last) */
    padding: 10px;
    font-size: 1em;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
  }
 .documents a {
  color:blue;
 } 
/* Carousel base class */
.carousel {
  height: 500px;
  width: 100%;  
  top:-20px;
  margin-bottom: 20px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  left: 10%;
  right:70%;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


.carousel-caption p {
  background-color: #ff6600;
  font-size: 2em;
}

.carousel-indicators li {
  width: 12px;
  height: 12px;
  border-radius: 12px;
}

.carousel-indicators .active {
  width: 14px;
  height: 14px;
  background-color: #fff;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left:  15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left:  0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
